<!DOCTYPE html>
<html>

<head>
  <!-- <base href="/"> -->
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link type="text/css"
        href="reset.css">
  <link rel="shortcut icon"
        href="assets/favicon.ico"
        type="image/x-icon">
  <link type="text/css"
        href="style.css">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.1.0/fabric.min.js"></script>
</body>

</html>