<div class="main">
  <div class="home-page-penguins"></div>
  <div class="same-line-elements">
    <div class="room-form card style-card" style="overflow-y: scroll">
      <div class="card-body change-font">
        <div class="text-large text-boldness-medium text-center">ABOUT</div>
        <div class="text-semi-large text-boldness-medium">
          HEY! THAT'S MY FISH! is a 2-4 player game of strategy. Each player has
          2-4 penguins and the goal is to catch as many fish as possible.
          <br />
          <br />
          <div class="text-large text-boldness-medium text-center">
            HOW TO PLAY
          </div>
          1. Create a new game room by entering your name and get an invite code
          to invite players.
          <br />
          <br />
          2. If you have an invite code, join the room using the same.
          <br />
          <br />
          3. Once a room has 2-4 players, you can start the game.
          <br />
          <br />
          4. ...
          <br />
          <br />
          5. ...
        </div>
      </div>
    </div>
    <!-- break -->
    <div class="room-form card style-card" id="hoverbutton">
      <div class="card-body">
        <div class="card style-inner-card" style="height: 23vh">
          <div class="card-body">
            <h4 class="change-font text-boldness-medium text-large">
              CREATE A ROOM
            </h4>
            <input
              type="text"
              class="form-control change-font text-large"
              placeholder="enter name"
              id="name"
              required
              [(ngModel)]="nameValue"
              name="name"
            />
            <ng-container *ngIf="join_room === 'no'">
              <button
                class="btn btn-dark btn-sm change-font text-center font-weight-bold text-semi-large"
                style="margin-top: 2vh; white-space: normal !important"
                (click)="createRoom()"
              >
                CREATE
              </button>
            </ng-container>
            <ng-container *ngIf="join_room === 'yes'">
              <nav>
                <a
                  [routerLink]="['/rooms/', roomidValue2]"
                  class=""
                  role="button"
                  routerLinkActive="active"
                >
                  <button
                    class="btn btn-dark btn-sm change-font text-center font-weight-bold text-semi-large"
                    style="margin-top: 2vh; white-space: normal !important"
                  >
                    room created, join the room
                  </button></a
                >
                <br />
              </nav>
              <router-outlet></router-outlet>
            </ng-container>
            <br />
          </div>
        </div>
        <div
          class="card style-inner-card"
          style="height: 33vh; margin-top: 3vh"
        >
          <div class="card-body">
            <h4 class="change-font text-boldness-medium text-center text-large">
              JOIN A ROOM
            </h4>
            <input
              type="text"
              class="form-control change-font text-large"
              placeholder="enter name"
              id="name"
              required
              [(ngModel)]="nameValue2"
              name="name"
            />
            <input
              style="margin-top: 5%"
              type="text"
              class="form-control change-font text-large"
              placeholder="enter room id"
              id="roomid"
              required
              [(ngModel)]="roomidValue"
              name="roomid"
            />
            <ng-container *ngIf="roomidValue">
              <ng-container
                *ngIf="
                  getRoom(roomidValue).full === false &&
                  getRoom(roomidValue).gameStarted === false
                "
              >
                <nav>
                  <a
                    [routerLink]="['/rooms/', roomidValue]"
                    class="btn btn-dark btn-sm change-font text-center font-weight-bold text-semi-large"
                    style="margin-top: 2vh; white-space: normal !important"
                    role="button"
                    routerLinkActive="active"
                    (click)="joinGameRoom()"
                  >
                    JOIN</a
                  >
                </nav>
                <router-outlet></router-outlet>
              </ng-container>
              <ng-container *ngIf="getRoom(roomidValue).full === true">
                <br />
                <div
                  class="change-font font-weight-bold"
                  style="color: red; background-color: seashell"
                >
                  This room is full
                </div>
              </ng-container>
              <ng-container *ngIf="getRoom(roomidValue).gameStarted === true">
                <br />
                <div
                  class="change-font font-weight-bold"
                  style="color: red; background-color: seashell"
                >
                  Game has started, cannot join.
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
