<div>
  <br />
  <h3>create a room</h3>
  <input
    type="text"
    class="form-control"
    placeholder="Enter name"
    id="name"
    required
    [(ngModel)]="nameValue"
    name="name"
  />
  <br />
  <br />
  <button (click)="createRoom()">create game room</button>
  <br />
  <br />
  <ng-container *ngIf="join_room === 'yes'">
    <nav>
      <a
        [routerLink]="['/rooms/', roomidValue2]"
        class="btn btn-primary active"
        role="button"
        routerLinkActive="active"
        >room has been created, join game room</a
      >
      <br />
      <br />
    </nav>
    <router-outlet></router-outlet>
  </ng-container>
  <br />
  <br />
  <h3>Join an existing room</h3>
  <input
    type="text"
    class="form-control"
    placeholder="Enter name"
    id="name"
    required
    [(ngModel)]="nameValue2"
    name="name"
  />
  <br />
  <br />
  <input
    type="text"
    class="form-control"
    placeholder="Enter room id"
    id="roomid"
    required
    [(ngModel)]="roomidValue"
    name="roomid"
  />
  <br />
  <br />
  <nav>
    <a
      [routerLink]="['/rooms/', roomidValue]"
      class="btn btn-primary active"
      role="button"
      routerLinkActive="active"
      (click)="joinGameRoom()"
      >join game room</a
    >
    <br />
    <br />
  </nav>
  <router-outlet></router-outlet>
  <br />
</div>
