/* g:hover {
    opacity: 0.6 !important;
<<<<<<< HEAD
} */
=======
}

rect:hover {
    opacity: 0.6 !important;
}

ellipse:hover {
    opacity: 0.6 !important;
}
>>>>>>> e86fc8b0744477117ed59dcf7048cde0ae89692d
