<div>
  <h3>Players in this room:</h3>
  <br />
  <ng-container>
    <div *ngFor="let name of roomRefPlayers | keyvalue">{{ name.key }}</div>
  </ng-container>
  <br />
  <ng-container *ngIf="canStartGame === false">
    need 2 or more players to start a game.
  </ng-container>
  <ng-container *ngIf="canStartGame === true">
    <ng-container *ngIf="roomRef.gameStarted === false">
      <button (click)="startGame()">start game</button>
      <br />
    </ng-container>

    <ng-container *ngIf="roomRef.gameStarted === true">
      <p [attr.align]="'center'">
        size: {{ size }}
        <button (click)="sizeUp()">up</button>
        <button (click)="sizeDown()">down</button>
      </p>
      <app-svg-board [state]="roomRef.gameState" [size]="size"></app-svg-board>
    </ng-container>
  </ng-container>
  <br />
  Invite friends with this code : {{ roomidurl }}
</div>
