@font-face {
  font-family: "MyFont";
  src: url("./myfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "MyFont";
  /* Webpack icon background               */
  /* background: url('./assets/icon.png'); */
}

.same-line-elements {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-color: rgb(183, 212, 230);
}

.banner-color {
  background-color: aliceblue;
}

canvas {
  box-shadow: rgba(30, 45, 72, 0.5) 0 0 5px;
  border: 1px solid rgb(4, 52, 75);
}

.banner {
  text-align: center;
}
